html,
body {
  font-size: 1rem;
}

body {
    display: grid;
    flex-direction: column;
    padding: 1em;
    font-family: monospace;
    background-color: #ffffff;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

main {
    display: flex;
    justify-content: space-around;
}

/* Dossiers */
.sidebar {
    display: flex;
    flex-direction: column;
}

.dossiers {
    display: flex;
    font-size: larger;
}

/* workspace iframe */
.workspace {
    max-width: 45vw ;
    min-width: 45vw;
    text-align: center;
    border: 0.25em solid black;
    box-shadow: 1em 1em 0 0 black;
}

.docDisplay {
    width: 100%;
    height: 100%;
    border: none;
}

mark.secret {
    background-color: black;
}

.footertxt {
 font-style: italic;
 font-size: small;
}

/* identité */
.identité {
    display: flex;
    flex-direction: column;
    padding-left: 1.4em;
}

.photoID {
    background-color: rgb(255, 255, 255);
    height: 4.5cm;
    width: 3.5cm;
    border: 0.2em solid black;
    text-align: center;
}

.photoID img {
    height: 4.5cm;
    width: 3.5cm;
}

input.answer, .fakeInput {
    display: inline-block;
    width: 8em;
    position: relative;
    top: -3em;
    font-style: italic;
}

.fakeInput {
    top: -2.8em;
    border-bottom: 1px solid black;
}
  
label {
    display: inline-block;
    width: 6em;
    margin-right: 1.5em;
    padding-top: 1.5em;
}

/* Progress bar */
#progressBar {
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#progressBar::-webkit-progress-value,
#progressBar::-moz-progress-bar {
    background-color: black;
}

#progress {
    margin-bottom: 10px;
    text-transform: uppercase;
}


/* Add filetree structure */
ul, li {
    list-style-type: none;
    margin: 0;
}

span.line {
    border-bottom: 1px solid;
    border-left: 1px solid;
    height: 1.5rem;
    width: 2rem;
    display: inline-block;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

.root > ul {
    padding-left: 0;
}

/* Add folder and file icons*/
span.folder::before {
    content: "\1F5C0";
    color: black;
    display: inline;
  }

span.folder-open::before {
    content: "\1F5C1";
  }

span.file::before {
    content: "\1F5CB";
    color: black;
    display: inline;
  }

span.picture::before {
    content: "\1F5BB";
    color: black;
    display: inline;
  }

/* Hide the nested list, selects all ul inside li */
li ul { 
    display: none;
  }
  
/* Show the nested list when the user clicks on the folder (javascript) */
.active {
    display: block;
}


